<!-- views/partials/footer.ejs -->
<!-- <footer class="bg-black bg-opacity-80 z-50 w-full h-24 text-center justify-between">
  <span class="text-white bottom-0">© 2025 xxx. All rights reserved.</span>
</footer> -->
